@media screen and (max-width: 1228px) {
  nav {
    height: 32rem;
    .history-buttons {
      max-width: 850px;
      align-items: center;
      .city-btn {
        align-items: center;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  nav {
    height: 30rem;

    .nav-contents {
      .heading {
        .logo {
          font-size: 4rem;
        }
        .api-credit {
          font-size: 1.2rem;
        }
      }

      .search-bar {
        margin-top: 1.5rem;
      }

      .history-buttons {
        margin: 0 7rem;
        margin-top: 2.1rem;

        .city-buttons {
          gap: 1.2rem;

          .city-btn {
            button {
              font-size: 1.2rem;
              padding: 0.4rem;
              letter-spacing: 0.3rem;
            }
          }
        }
        .delete-button {
          margin-left: 1.8rem;
          button {
            padding: 0.5rem;
          }
        }
      }
    }
  }

  .weather-info {
    padding-top: 2.5rem;

    .temperature-buttons {
      margin: 0 auto;

      button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin-bottom: 1.8rem;
      }
    }

    article {
      gap: 2.5rem;
      .left-content {
        h1 {
          font-size: 2rem;
        }
        img {
          width: 6rem;
        }
      }
      .right-content {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 561px) {
  nav {
    height: 25rem;

    .nav-contents {
      .heading {
        .logo {
          font-size: 3rem;
        }
        .api-credit {
          font-size: 1rem;
        }
      }

      .search-bar {
        margin-top: 1rem;
      }

      .history-buttons {
        margin: 0 2.2rem;
        margin-top: 2rem;

        .city-buttons {
          gap: 0.9rem;

          .city-btn {
            button {
              font-size: 1rem;
              padding: 0.3rem;
              letter-spacing: 0.2rem;
            }
          }
        }
        .delete-button {
          margin-left: 1.3rem;
          button {
            padding: 0.5rem;

            svg {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  .weather-info {
    padding-top: 2rem;

    .temperature-buttons {
      button {
        transform: translateX(13rem);
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
        margin-left: 0.4rem;
        margin-bottom: 1.5rem;
      }
    }

    article {
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      .left-content {
        h1 {
          font-size: 1.8rem;
        }
        img {
          width: 6rem;
        }
      }
      .right-content {
        h1 {
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
        }
        p {
          display: flex;
          justify-content: center;
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  nav {
    height: 22rem;

    .nav-contents {
      .search-bar {
        width: 70vw;
        min-width: 25rem;
        margin-top: 0.5rem;

        .form-control {
          display: flex;

          input {
            flex-basis: 87%;
            padding: 0.6rem;
            font-size: 0.8rem;
          }

          button {
            flex-basis: 13%;

            svg {
              font-size: 1.4rem;
            }
          }
        }
      }

      .history-buttons {
        margin: 0 2rem;
        margin-top: 1.5rem;

        .city-buttons {
          gap: 0.8rem;

          .city-btn {
            button {
              font-size: 0.7rem;
              padding: 0.25rem;
              letter-spacing: 0.15rem;
            }
          }
        }
        .delete-button {
          margin-left: 1.1rem;
          button {
            padding: 0.5rem;

            svg {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  .weather-info {
    padding-top: 1.2rem;

    .temperature-buttons {
      button {
        transform: translateX(10rem);
        font-size: 0.8rem;
        padding: 0.3rem 0.7rem;
        margin-left: 0.3rem;
        margin-bottom: 1.2rem;
      }
    }

    article {
      .left-content {
        h1 {
          font-size: 1.4rem;
        }
        img {
          width: 5rem;
        }
      }
      .right-content {
        h1 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
